<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    visible: {
      type: Number,
      required: true,
    },
    index: {
      type: Number,
      required: true,
    },
  },
});
</script>

<template>
  <div
    v-if="visible === index"
    class="carousel"
    aria-roledescription="carousel"
    aria-label="images of case studies"
  >
    <slot />
  </div>
</template>

<style lang="scss" scoped></style>
