<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'TopicsBreadcrumb',
  props: {
    data: {
      type: Object,
      default: null,
      required: false,
    },
  },
  computed: {
    setCrumbs() {
      return {
        crumbs: (this as any).data?.crumbs ?? [],
        router: !(this as any).data?.crumbs ? this.$router : null,
      };
    },
  },
});
</script>

<template>
  <div class="breadcrumb-wrapper">
    <SlpBreadcrumb v-bind="{ ...setCrumbs }" />
  </div>
</template>

<style scoped lang="scss">
.breadcrumb-wrapper {
  margin-top: $spacing-32;
  margin-bottom: -$spacing-32;
}
</style>
