<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  name: 'SvgLoop',
  props: {
    stages: {
      required: true,
      type: Object,
    },
  },
});
</script>

<template>
  <svg
    viewBox="0 0 1086 677"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    role="img"
    aria-labelledby="loop-svg-title"
  >
    <title id="loop-svg-title">
      DevOps lifecycle stages: manage, plan, create, verify, package, secure,
      release, configure, monitor and govern
    </title>
    <g
      id="devOpsStages"
      :class="`opacity-0 ${stages['stage-5'] ? '' : 'hidden'}`"
    >
      <g :class="`svg-stage  opacity-0 stage-delayed ${stages['stage-4']}`">
        <path
          class="b"
          d="M542.1,334.4l9.9-7.2h0l129.8-97.1c40.4-30.1,89.9-45.2,140-43.3h0c8.2,.2,18,.9,26.3,2,57.3,8,109.1,38.1,144,83.9h-.2c26.8,35.1,41.9,77.4,43.7,120.9h-.3c.2,7.1,.2,14.2-.3,21.3-3.4,51.5-25.3,100.2-61.8,137.1-27.4,27.7-61.7,47.4-99.2,57.4h0c-15.1,4.7-30.8,7.8-46.7,9.2-52,4.5-103.9-9.7-146.3-39.8l-1-.8c-2.1-1.5-4.2-3.1-6.2-4.7l-134.7-101-132.1,98.8c-2.1,1.6-4.2,3.2-6.2,4.7l-1,.8c-32.8,23.3-71.5,37.2-111.7,40.1-6.8,.5-13.5,.2-20.3,0h-.5c-33.7-.6-66.8-8.8-96.9-24.2-35.8-18.4-65.8-46.3-86.6-80.5-20.8-34.2-31.5-73.5-31.1-113.5,0-1,0-1.9,.1-2.9h.2c1.3-38.3,12.8-75.5,33.5-108,21.5-33.8,52.1-61,88.4-78.6,25.9-12.6,54-19.9,82.5-21.7l.4-.1c11.5-.7,23-.6,34.5,.5,40.2,3.8,78.6,18.5,110.8,42.5l139,104.2h0Zm492,43.5c.2,1.4,.3,2.7,.4,4.1-.1-1.3-.2-2.7-.4-4.1Zm.6,6.7c0,.5,.1,.9,.1,1.4,0-.5,0-.9-.1-1.4Zm.3,4.8v.5c.1-.2,0-.4,0-.5Z"
        />
        <g class="svg-text">
          <g class="svg-text-secure">
            <path
              class="i"
              d="M1056.5,380.9c.6-.1,1-.3,1.3-.8,.3-.4,.5-1,.5-1.7,0-.5-.1-.9-.2-1.3-.2-.4-.4-.6-.6-.8-.2-.2-.6-.3-.9-.3s-.5,.1-.7,.2-.4,.3-.5,.5-.2,.5-.3,.7c-.1,.3-.2,.5-.2,.8l-.3,1.2c-.1,.5-.3,1-.5,1.4-.2,.5-.4,.9-.7,1.2-.3,.4-.7,.7-1.1,.9-.4,.2-.9,.3-1.5,.3-.8,0-1.5-.2-2-.6-.6-.4-1-1-1.4-1.7-.3-.7-.5-1.6-.5-2.7,0-1,.2-1.9,.5-2.7,.3-.7,.8-1.3,1.4-1.8,.6-.4,1.3-.6,2.2-.7v2.3c-.5,0-.8,.2-1.1,.4-.3,.2-.5,.6-.7,1s-.2,.8-.2,1.3,.1,1,.2,1.4c.2,.4,.4,.7,.6,.9,.3,.2,.6,.3,1,.3s.6-.1,.9-.3c.2-.2,.4-.5,.6-.8s.3-.8,.4-1.2l.4-1.5c.3-1.1,.7-1.9,1.3-2.6,.6-.6,1.3-.9,2.3-.9,.8,0,1.4,.2,2,.6s1,1,1.3,1.7,.5,1.5,.5,2.5c0,.9-.2,1.7-.5,2.4-.3,.7-.8,1.3-1.3,1.7-.6,.4-1.2,.6-2,.6v-1.9h-.2Z"
            />
            <path
              class="i"
              d="M1046.8,389.7c0-1,.2-1.8,.6-2.6,.4-.7,1-1.3,1.8-1.6,.8-.4,1.6-.6,2.7-.6,1,0,1.9,.2,2.7,.6,.8,.4,1.4,.9,1.8,1.6s.6,1.5,.6,2.4c0,.6-.1,1.2-.3,1.7-.2,.5-.5,1-.9,1.4s-.9,.7-1.6,1c-.6,.2-1.4,.4-2.2,.4h-.7v-8h1.6v5.8c.4,0,.8-.1,1.2-.3,.3-.2,.6-.4,.8-.8,.2-.3,.3-.7,.3-1.2s-.1-.9-.3-1.2c-.2-.4-.5-.6-.9-.8-.4-.2-.8-.3-1.2-.3h-1.4c-.6,0-1.1,.1-1.5,.3-.4,.2-.7,.5-.9,.9-.2,.4-.3,.8-.3,1.3,0,.3,.1,.6,.1,.9,.1,.3,.2,.5,.4,.7,.2,.2,.4,.4,.7,.5l-.2,2.2c-.6-.1-1.1-.4-1.5-.8s-.8-.9-1-1.5c-.3-.6-.4-1.3-.4-2Z"
            />
            <path
              class="i"
              d="M1046.8,400.3c0-1,.2-1.8,.6-2.5s1-1.2,1.8-1.6,1.6-.6,2.6-.6,1.9,.2,2.6,.6c.8,.4,1.4,.9,1.8,1.6s.6,1.5,.6,2.5c0,.8-.1,1.5-.4,2.1s-.7,1.1-1.2,1.5-1.2,.6-1.8,.6v-2.2c.5-.1,.9-.3,1.2-.6,.3-.3,.5-.8,.5-1.3s-.1-.9-.4-1.2c-.3-.4-.6-.6-1.1-.8-.5-.2-1-.3-1.7-.3s-1.2,.1-1.7,.3c-.5,.2-.8,.5-1.1,.8-.3,.4-.4,.8-.4,1.3,0,.3,.1,.6,.2,.9s.3,.5,.6,.7c.2,.2,.6,.3,.9,.4v2.2c-.7-.1-1.3-.3-1.8-.6-.5-.4-.9-.8-1.2-1.4-.4-.9-.6-1.6-.6-2.4Z"
            />
            <path
              class="i"
              d="M1051.1,412.6h5.7v2.3h-9.8v-2.2h1.7v-.1c-.6-.2-1-.6-1.3-1.1s-.5-1.1-.5-1.9c0-.6,.1-1.2,.4-1.7s.7-.9,1.3-1.1c.5-.3,1.2-.4,2-.4h6.2v2.3h-5.9c-.6,0-1.1,.2-1.5,.5s-.5,.8-.5,1.3c0,.3,.1,.7,.2,1,.2,.3,.4,.6,.7,.8,.4,.2,.8,.3,1.3,.3Z"
            />
            <path
              class="i"
              d="M1047,417.3h9.8v2.2h-1.6v.1c.6,.2,1,.5,1.3,.9s.5,.9,.5,1.5v.8h-2.1c0-.1,.1-.3,.1-.5v-.6c0-.4-.1-.8-.3-1.1-.2-.3-.4-.6-.8-.8-.3-.2-.7-.3-1.1-.3h-5.8v-2.2Z"
            />
            <path
              class="i"
              d="M1046.8,428.4c0-1,.2-1.8,.6-2.5s1-1.3,1.8-1.6c.8-.4,1.6-.6,2.7-.6,1,0,1.9,.2,2.7,.6,.8,.4,1.4,.9,1.8,1.6s.6,1.5,.6,2.4c0,.6-.1,1.2-.3,1.7-.2,.5-.5,1-.9,1.4s-.9,.7-1.6,1c-.6,.2-1.4,.4-2.2,.4h-.7v-8h1.6v5.8c.4,0,.8-.1,1.2-.3,.3-.2,.6-.4,.8-.8,.2-.3,.3-.7,.3-1.2s-.1-.9-.3-1.2c-.2-.4-.5-.6-.9-.8-.4-.2-.8-.3-1.2-.3h-1.4c-.6,0-1.1,.1-1.5,.3-.4,.2-.7,.5-.9,.9-.2,.4-.3,.8-.3,1.3,0,.3,.1,.6,.1,.9,.1,.3,.2,.5,.4,.7,.2,.2,.4,.4,.7,.5l-.2,2.2c-.6-.1-1.1-.4-1.5-.8s-.8-.9-1-1.5c-.3-.6-.4-1.3-.4-2.1Z"
            />
          </g>
          <g class="svg-text-manage">
            <path
              class="i"
              d="M19.9,436.6v-2.9l9.5-3.9v-.2l-9.5-3.9v-2.9h13.1v2.3h-9v.1l9,3.6v1.7l-9,3.6v.1h9v2.3h-13.1v.1Z"
            />
            <path
              class="i"
              d="M33.2,417.6c0,.6-.1,1.2-.3,1.7s-.6,.9-1,1.2c-.4,.3-1,.4-1.6,.4s-1-.1-1.4-.3c-.4-.2-.7-.5-.9-.8-.2-.4-.4-.8-.5-1.2-.1-.4-.2-.9-.2-1.4-.1-.6-.1-1-.2-1.4s-.1-.6-.2-.8c-.1-.2-.3-.2-.5-.2h0c-.5,0-.9,.1-1.1,.4-.3,.3-.4,.7-.4,1.2,0,.6,.1,1,.4,1.3,.2,.3,.5,.5,.9,.7l-.3,2.2c-.6-.2-1.1-.5-1.5-.8-.4-.4-.7-.9-.9-1.4-.2-.6-.3-1.2-.3-1.9,0-.5,.1-.9,.2-1.4s.3-.9,.5-1.3c.3-.4,.6-.7,1-.9,.4-.2,1-.4,1.6-.4h6.5v2.2h-1.3v.1c.3,.1,.5,.3,.8,.6,.2,.3,.4,.6,.6,1,0,.3,.1,.7,.1,1.2Zm-1.7-.6c0-.5-.1-.9-.3-1.2-.2-.3-.4-.6-.7-.8-.3-.2-.6-.3-1-.3h-1.2c.1,.1,.1,.2,.2,.4,.1,.2,.1,.4,.1,.6s.1,.4,.1,.6,.1,.4,.1,.5c0,.3,.1,.7,.2,.9,.1,.3,.3,.5,.4,.6,.2,.2,.4,.2,.7,.2,.4,0,.7-.2,1-.5s.4-.5,.4-1Z"
            />
            <path
              class="i"
              d="M27.2,407.8h5.8v2.3h-9.8v-2.2h1.7v-.1c-.5-.2-1-.6-1.3-1.1s-.5-1.1-.5-1.8,.1-1.3,.4-1.8,.7-.9,1.3-1.2c.5-.3,1.2-.4,2-.4h6.2v2.3h-5.9c-.7,0-1.2,.2-1.5,.5-.4,.3-.6,.8-.6,1.4,0,.4,.1,.8,.3,1.1,.2,.3,.4,.6,.8,.7,.3,.2,.7,.3,1.1,.3Z"
            />
            <path
              class="i"
              d="M33.2,396.3c0,.6-.1,1.2-.3,1.7s-.6,.9-1,1.2c-.4,.3-1,.4-1.6,.4s-1-.1-1.4-.3c-.4-.2-.7-.5-.9-.8-.2-.4-.4-.8-.5-1.2-.1-.4-.2-.9-.2-1.4-.1-.6-.1-1-.2-1.4s-.1-.6-.2-.8c-.1-.2-.3-.2-.5-.2h0c-.5,0-.9,.1-1.1,.4-.3,.3-.4,.7-.4,1.2,0,.6,.1,1,.4,1.3,.2,.3,.5,.5,.9,.7l-.3,2.2c-.6-.2-1.1-.5-1.5-.8-.4-.4-.7-.9-.9-1.4-.2-.6-.3-1.2-.3-1.9,0-.5,.1-.9,.2-1.4s.3-.9,.5-1.3c.3-.4,.6-.7,1-.9,.4-.2,1-.4,1.6-.4h6.5v2.2h-1.3v.1c.3,.1,.5,.3,.8,.6,.2,.3,.4,.6,.6,1,0,.2,.1,.7,.1,1.2Zm-1.7-.6c0-.5-.1-.9-.3-1.2-.2-.3-.4-.6-.7-.8-.3-.2-.6-.3-1-.3h-1.2c.1,.1,.1,.2,.2,.4,.1,.2,.1,.4,.1,.6s.1,.4,.1,.6,.1,.4,.1,.5c0,.3,.1,.7,.2,.9,.1,.3,.3,.5,.4,.6,.2,.2,.4,.2,.7,.2,.4,0,.7-.2,1-.5s.4-.5,.4-1Z"
            />
            <path
              class="i"
              d="M36.9,384.5c0,.8-.1,1.5-.3,2.1s-.5,1.1-.9,1.4-.8,.6-1.2,.8l-.5-2.1c.2-.1,.4-.2,.6-.4,.2-.2,.3-.4,.5-.7,.1-.3,.2-.7,.2-1.2,0-.7-.2-1.2-.5-1.6s-.8-.6-1.6-.6h-1.9v.1c.2,.1,.5,.3,.7,.5,.3,.2,.5,.5,.6,.9,.2,.4,.3,.8,.3,1.4,0,.8-.2,1.4-.5,2.1-.4,.6-.9,1.1-1.6,1.5s-1.6,.5-2.7,.5-2-.2-2.7-.5c-.7-.4-1.3-.9-1.7-1.5-.4-.6-.6-1.3-.6-2.1,0-.6,.1-1,.3-1.4,.2-.4,.4-.7,.7-.9,.3-.2,.5-.4,.8-.5v-.1h-1.6v-2.3h10c.8,0,1.5,.2,2.1,.6,.5,.4,1,.9,1.2,1.6,.1,.8,.3,1.5,.3,2.4Zm-5.9,0c0-.5-.1-.9-.4-1.3-.2-.3-.6-.6-1-.8-.4-.2-1-.3-1.6-.3s-1.2,.1-1.6,.3c-.5,.2-.8,.4-1.1,.8-.3,.3-.4,.8-.4,1.3s.1,.9,.4,1.3c.3,.3,.6,.6,1.1,.8,.5,.2,1,.3,1.6,.3s1.1-.1,1.6-.3c.4-.2,.8-.4,1-.8,.3-.4,.4-.8,.4-1.3Z"
            />
            <path
              class="i"
              d="M33.2,373.2c0,1-.2,1.8-.6,2.5-.4,.7-1,1.3-1.8,1.6-.8,.4-1.7,.6-2.7,.6s-1.9-.2-2.7-.6c-.8-.4-1.4-.9-1.8-1.6s-.6-1.5-.6-2.4c0-.6,.1-1.2,.3-1.7,.2-.5,.5-1,.9-1.4s.9-.7,1.5-1c.6-.2,1.4-.4,2.2-.4h.7v8h-1.6v-5.8c-.4,0-.8,.1-1.2,.3-.3,.2-.6,.4-.8,.8-.2,.3-.3,.7-.3,1.2s.1,.9,.3,1.2c.2,.4,.5,.6,.9,.8,.4,.2,.8,.3,1.2,.3h1.4c.6,0,1.1-.1,1.5-.3,.4-.2,.7-.5,.9-.9,.2-.4,.3-.8,.3-1.3,0-.3,0-.6-.1-.9s-.2-.5-.4-.7c-.2-.2-.4-.4-.7-.5l.2-2.2c.6,.1,1.1,.4,1.5,.8,.4,.4,.8,.9,1,1.5,.4,.7,.5,1.3,.5,2.1Z"
            />
          </g>
        </g>
      </g>
      <path
        :class="`g svg-stage offscreen ${stages['stage-3']}`"
        d="M633.4,404.6l58.9,44c3.6,2.9,7.2,5.5,10.8,8.1l45.6,34.1,1.2,1c15.2,11,33.1,18,51.9,20.1,10.1,1.2,20.4,.9,30.3-.7v108.5c-51.7,4.2-103.3-9.9-145.4-39.9l-1-.8c-2.1-1.5-4.2-3.1-6.3-4.6l-136.2-102.3,90.2-67.5Z"
      />
      <path
        :class="`j delayed svg-stage offscreen ${stages['stage-3']}`"
        d="M440.6,414l101.8-77.2c-.2-.3-.5-.7-.8-1l-138.3-103.7c-32.3-24-70.6-38.7-110.8-42.5-11.5-1.1-23-1.2-34.5-.5v108.2c7.9-1,15.8-1.1,23.8-.4,20.2,1.9,39.4,9.3,55.6,21.3l115.3,86.3-12.3,9.2c0,.1,.1,.2,.2,.3Z"
      />
      <path
        :class="`h svg-stage top-left-rotation ${stages['stage-0']}`"
        d="M87.2,289.4c-21.2,33.2-32.8,71.5-33.6,110.7h108.8c.8-18.7,6.5-37,16.6-52.9,10.8-17,26.1-30.7,44.2-39.6,11.1-5.4,23-8.9,35.2-10.4l-.7-108.2c-28.4,1.8-56.3,9.2-82.1,21.7-36.3,17.7-66.9,44.9-88.4,78.7Z"
      />
      <path
        :class="`k delayed svg-stage offscreen ${stages['stage-0']}`"
        d="M171.3,596.1c29.6,15.2,62.2,23.4,95.3,24.2v-107.8c-15.5-.7-30.8-4.7-44.7-11.7-18-9.1-33.2-23-43.7-40.1s-16-36.8-15.9-56.8c0-1.2,0-2.5,.1-3.7H53.6v2c-.4,39.9,10.3,79.2,31.1,113.4,20.7,34.2,50.7,62.1,86.6,80.5Z"
      />
      <path
        :class="`m svg-stage offscreen ${stages['stage-1']}`"
        d="M452.7,404.5l-115.2,86.2-1.2,1c-16.3,11.9-35.7,19-55.9,20.6-4.6,.4-9.2,.4-13.8,.2v107.8c7,.2,14.1,0,21.1-.5,40.3-2.9,79-16.8,111.7-40.1l1-.8c2.1-1.5,4.2-3.1,6.3-4.6l136.5-102.2,90.2-67.5h0l-90.3-67.8h0l-90.4,67.7Z"
      />
      <path
        :class="`l delayed svg-stage offscreen ${stages['stage-1']}`"
        d="M633.4,404.6l115.3-86.3c17.3-12.9,38-20.4,59.6-21.6,5.4-.3,10.9-.2,16.3,.3v-108.1c-50.6-2.3-100.7,12.8-141.5,43.2l-139.7,105.1,90,67.4Z"
      />
      <path
        :class="`e svg-stage top-right-rotation ${stages['stage-2']}`"
        d="M988.7,274.6h.2c-34.8-45.7-86.6-75.9-144-83.9-6.6-.9-13.3-1.5-20-1.8l-.7,108.1c16.1,1.4,31.7,6.3,45.7,14.5,18.6,10.8,33.6,26.9,43,46.2,6.2,12.8,9.8,26.6,10.6,40.6l108.8-3.7-.5-8c-3.4-40.5-18.3-79.3-43.1-112Z"
      />
      <path
        :class="`d delayed svg-stage offscreen ${stages['stage-2']}`"
        d="M1032.3,394.4l-108.8,3.3c.5,7.3,.2,14.6-.8,21.9-2.6,18.5-10.1,36-21.6,50.8s-26.7,26.4-44.1,33.7c-8,3.3-16.3,5.7-24.8,7.1v108.5c.3,0,.6,0,.9-.1,52-4.5,100.7-27.2,137.2-64.1,36.5-36.9,58.5-85.5,61.8-137.1,.5-8,.6-16,.2-24Z"
      />
      <g :class="`svg-text opacity-0 ${stages['stage-4']}`">
        <path
          class="f"
          d="M126.8,500.8l2.6,8h.1l2.6-8h2l-3.6,10.2h-2.3l-3.6-10.2h2.2Zm11.2,10.3c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.3-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.4,.2-1,.2-1.6,.2Zm5-.1v-7.6h1.7v1.3h.1c.1-.4,.4-.8,.7-1s.7-.4,1.2-.4h.6v1.7c-.1,0-.2,0-.4-.1h-.5c-.3,0-.6,.1-.9,.2-.3,.1-.5,.3-.6,.6-.1,.2-.2,.5-.2,.9v4.5h-1.7v-.1Zm5.5,0v-7.6h1.8v7.6h-1.8Zm.9-8.7c-.3,0-.5-.1-.7-.3-.2-.2-.3-.4-.3-.7s.1-.5,.3-.7,.5-.3,.7-.3c.3,0,.5,.1,.7,.3,.2,.2,.3,.4,.3,.7s-.1,.5-.3,.7-.4,.3-.7,.3Zm6.6,1.1v1.4h-4.5v-1.4h4.5Zm-3.4,7.6v-8.4c0-.5,.1-.9,.3-1.3,.2-.3,.5-.6,.9-.8,.4-.2,.8-.3,1.2-.3,.3,0,.6,0,.8,.1,.2,0,.4,.1,.5,.1l-.4,1.4c-.1,0-.2,0-.3-.1h-.4c-.3,0-.6,.1-.7,.2-.1,.2-.2,.4-.2,.7v8.2h-1.7v.2Zm6,2.9c-.2,0-.5,0-.7-.1-.2,0-.4-.1-.5-.1l.4-1.4c.3,.1,.5,.1,.7,.1s.4-.1,.5-.2c.2-.1,.3-.3,.4-.6l.2-.4-2.8-7.8h1.9l1.8,5.8h.1l1.8-5.8h1.9l-3.1,8.6c-.1,.4-.3,.8-.6,1-.2,.3-.5,.5-.9,.7-.3,.1-.7,.2-1.1,.2Z"
        />
        <path
          class="f"
          d="M126,299.3h-1.9c-.1-.3-.2-.6-.3-.8-.1-.2-.3-.4-.5-.6s-.5-.3-.7-.4c-.3-.1-.6-.1-.9-.1-.6,0-1,.1-1.5,.4-.4,.3-.8,.7-1,1.2s-.4,1.2-.4,1.9c0,.8,.1,1.4,.4,2,.2,.5,.6,.9,1,1.2,.4,.3,.9,.4,1.5,.4,.3,0,.6,0,.9-.1s.5-.2,.7-.4c.2-.2,.4-.4,.5-.6s.3-.5,.3-.8h1.9c-.1,.5-.2,.9-.5,1.4-.2,.4-.5,.8-.9,1.1-.4,.3-.8,.6-1.3,.8-.5,.2-1,.3-1.7,.3-.9,0-1.7-.2-2.4-.6-.7-.4-1.3-1-1.7-1.8-.4-.8-.6-1.7-.6-2.8s.2-2,.6-2.8,1-1.4,1.7-1.8,1.5-.6,2.4-.6c.6,0,1.1,.1,1.6,.2s.9,.4,1.3,.7c.4,.3,.7,.7,.9,1.1,.3,.4,.5,.9,.6,1.5Zm1.6,6.7v-7.6h1.7v1.3h.1c.1-.4,.4-.8,.7-1s.7-.4,1.2-.4h.6v1.7c-.1,0-.2,0-.4-.1h-.5c-.3,0-.6,.1-.9,.2-.3,.1-.5,.3-.6,.6-.1,.2-.2,.5-.2,.9v4.5h-1.7v-.1Zm8.6,.1c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.2-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.4-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.5,.2-1,.2-1.6,.2Zm7.1,.1c-.5,0-.9-.1-1.3-.3-.4-.2-.7-.4-.9-.8-.2-.3-.3-.8-.3-1.3,0-.4,.1-.8,.2-1.1,.2-.3,.4-.5,.7-.7s.6-.3,.9-.4c.3-.1,.7-.2,1.1-.2s.8-.1,1.1-.1,.5-.1,.6-.2,.2-.2,.2-.4h0c0-.4-.1-.7-.3-.9-.2-.2-.5-.3-1-.3-.4,0-.8,.1-1,.3-.3,.2-.4,.4-.5,.7l-1.7-.2c.1-.5,.4-.9,.7-1.2,.3-.3,.7-.6,1.1-.7,.4-.2,.9-.2,1.5-.2,.4,0,.7,0,1.1,.1,.4,.1,.7,.2,1,.4,.3,.2,.5,.5,.7,.8s.3,.8,.3,1.3v5.1h-1.7v-1h-.1c-.1,.2-.3,.4-.5,.6s-.4,.3-.7,.4c-.5,.2-.8,.3-1.2,.3Zm.5-1.4c.4,0,.7-.1,.9-.2,.3-.1,.5-.3,.6-.6,.1-.2,.2-.5,.2-.8v-.9c-.1,0-.2,.1-.3,.1s-.3,.1-.4,.1c-.2,0-.3,.1-.5,.1s-.3,0-.4,.1c-.3,0-.5,.1-.7,.2s-.4,.2-.5,.3c-.1,.1-.2,.3-.2,.6s.1,.6,.4,.8,.5,.2,.9,.2Zm9.2-6.4v1.4h-4.4v-1.4h4.4Zm-3.3-1.9h1.8v7.2c0,.2,0,.4,.1,.6l.3,.3c.1,0,.3,.1,.4,.1h.5l.3,1.4c-.1,0-.2,.1-.4,.1s-.4,.1-.6,.1c-.5,0-.9-.1-1.2-.2-.4-.2-.6-.4-.9-.7-.2-.3-.3-.7-.3-1.2v-7.7h0Zm8.1,9.6c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.4-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.5,.2-1,.2-1.6,.2Z"
        />
        <path
          class="f"
          d="M436.5,460v-10.2h3.8c.8,0,1.4,.1,2,.4,.5,.3,.9,.7,1.2,1.2,.3,.5,.4,1.1,.4,1.7,0,.7-.1,1.2-.4,1.7s-.7,.9-1.2,1.2c-.5,.3-1.2,.4-2,.4h-2.5v-1.4h2.3c.5,0,.8-.1,1.1-.2,.3-.2,.5-.4,.6-.7,.1-.3,.2-.6,.2-1s-.1-.7-.2-1-.4-.5-.7-.6c-.3-.2-.7-.2-1.1-.2h-1.7v8.6h-1.8v.1Zm11,.2c-.5,0-.9-.1-1.3-.3-.4-.2-.7-.4-.9-.8-.2-.3-.3-.8-.3-1.3,0-.4,.1-.8,.2-1.1,.2-.3,.4-.5,.7-.7,.3-.2,.6-.3,.9-.4s.7-.2,1.1-.2,.8-.1,1.1-.1,.5-.1,.6-.2,.2-.2,.2-.4h0c0-.4-.1-.7-.3-.9s-.5-.3-1-.3c-.4,0-.8,.1-1,.3-.3,.2-.4,.4-.5,.7l-1.7-.2c.1-.5,.4-.9,.7-1.2s.7-.6,1.1-.7c.4-.2,.9-.2,1.5-.2,.4,0,.7,0,1.1,.1s.7,.2,1,.4c.3,.2,.5,.5,.7,.8s.3,.8,.3,1.3v5.1h-1.7v-1h-.1c-.1,.2-.3,.4-.5,.6s-.4,.3-.7,.4c-.5,.2-.8,.3-1.2,.3Zm.4-1.4c.4,0,.7-.1,.9-.2,.3-.1,.5-.3,.6-.6,.1-.2,.2-.5,.2-.8v-.9c-.1,0-.2,.1-.3,.1s-.3,.1-.4,.1c-.2,0-.3,.1-.5,.1s-.3,0-.4,.1c-.3,0-.5,.1-.7,.2s-.4,.2-.5,.3c-.1,.1-.2,.3-.2,.6s.1,.6,.4,.8,.6,.2,.9,.2Zm8.7,1.3c-.8,0-1.4-.2-2-.5-.5-.3-1-.8-1.3-1.4s-.4-1.3-.4-2c0-.8,.1-1.5,.4-2.1s.7-1.1,1.3-1.4c.5-.3,1.2-.5,1.9-.5,.6,0,1.2,.1,1.6,.3,.5,.2,.9,.5,1.1,1,.3,.4,.4,.9,.5,1.4h-1.7c-.1-.4-.2-.7-.5-.9-.3-.2-.6-.4-1-.4s-.7,.1-1,.3c-.3,.2-.5,.5-.7,.8-.2,.4-.2,.8-.2,1.3s.1,1,.2,1.3c.2,.4,.4,.7,.6,.9,.3,.2,.6,.3,1,.3,.3,0,.5-.1,.7-.2s.4-.2,.5-.4c.1-.2,.2-.4,.3-.7h1.7c0,.5-.2,1-.5,1.4s-.6,.7-1.1,1c-.2,.4-.7,.5-1.4,.5Zm6.4-2.5v-2.2h.3l2.7-3.1h2.1l-3.4,3.8h-.4l-1.3,1.5Zm-1.6,2.4v-10.2h1.8v10.2h-1.8Zm4.8,0l-2.5-3.5,1.2-1.3,3.4,4.7h-2.1v.1Zm5.4,.2c-.5,0-.9-.1-1.3-.3-.4-.2-.7-.4-.9-.8-.2-.3-.3-.8-.3-1.3,0-.4,.1-.8,.2-1.1,.2-.3,.4-.5,.7-.7,.3-.2,.6-.3,.9-.4s.7-.2,1.1-.2,.8-.1,1.1-.1,.5-.1,.6-.2,.2-.2,.2-.4h0c0-.4-.1-.7-.3-.9s-.5-.3-1-.3c-.4,0-.8,.1-1,.3-.3,.2-.4,.4-.5,.7l-1.7-.2c.1-.5,.4-.9,.7-1.2s.7-.6,1.1-.7c.4-.2,.9-.2,1.5-.2,.4,0,.7,0,1.1,.1s.7,.2,1,.4c.3,.2,.5,.5,.7,.8s.3,.8,.3,1.3v5.1h-1.7v-1h-.1c-.1,.2-.3,.4-.5,.6s-.4,.3-.7,.4c-.5,.2-.8,.3-1.2,.3Zm.4-1.4c.4,0,.7-.1,.9-.2,.3-.1,.5-.3,.6-.6,.1-.2,.2-.5,.2-.8v-.9c-.1,0-.2,.1-.3,.1s-.3,.1-.4,.1c-.2,0-.3,.1-.5,.1s-.3,0-.4,.1c-.3,0-.5,.1-.7,.2s-.4,.2-.5,.3c-.1,.1-.2,.3-.2,.6s.1,.6,.4,.8,.6,.2,.9,.2Zm8.7,4.2c-.6,0-1.2-.1-1.7-.3-.5-.2-.8-.4-1.1-.7s-.5-.6-.6-1l1.6-.4c.1,.1,.2,.3,.3,.4,.1,.1,.3,.3,.6,.4,.2,.1,.5,.2,.9,.2,.5,0,.9-.1,1.3-.4,.3-.2,.5-.6,.5-1.2v-1.4h-.1c-.1,.2-.2,.4-.4,.6-.2,.2-.4,.4-.7,.5-.3,.1-.7,.2-1.1,.2-.6,0-1.1-.1-1.6-.4s-.9-.7-1.1-1.2c-.3-.6-.4-1.2-.4-2.1,0-.8,.1-1.5,.4-2.1s.7-1,1.1-1.3c.5-.3,1-.5,1.6-.5,.4,0,.8,.1,1.1,.2,.3,.1,.5,.3,.7,.5s.3,.4,.4,.6h.1v-1.3h1.8v7.8c0,.7-.2,1.2-.5,1.6s-.7,.7-1.3,1c-.5,.2-1.1,.3-1.8,.3Zm0-4.5c.4,0,.7-.1,1-.3,.3-.2,.5-.5,.6-.8s.2-.8,.2-1.3-.1-.9-.2-1.3-.3-.6-.6-.8c-.3-.2-.6-.3-1-.3s-.7,.1-1,.3c-.3,.2-.5,.5-.6,.9s-.2,.8-.2,1.2c0,.5,.1,.9,.2,1.2,.1,.3,.3,.6,.6,.8,.3,.3,.6,.4,1,.4Zm8.8,1.6c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1,.7-1.1,1.3-1.4c.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2s.8,.4,1.1,.7,.6,.7,.8,1.2c.2,.5,.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.4-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.4,.2-1,.2-1.6,.2Z"
        />
        <path
          class="f"
          d="M664.4,296v-10.2h3.8c.8,0,1.4,.1,2,.4,.5,.3,.9,.7,1.2,1.1,.3,.5,.4,1.1,.4,1.7,0,.7-.1,1.2-.4,1.7-.3,.5-.7,.8-1.2,1.1-.5,.3-1.2,.4-2,.4h-2.7v-1.5h2.5c.5,0,.8-.1,1.1-.2s.5-.3,.6-.6c.1-.2,.2-.6,.2-.9,0-.4-.1-.7-.2-.9-.1-.3-.4-.5-.7-.6s-.7-.2-1.1-.2h-1.7v8.6h-1.8v.1Zm5.2-4.6l2.5,4.6h-2.1l-2.5-4.6h2.1Zm7.1,4.7c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.3-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.5,.2-1,.2-1.6,.2Zm6.7-10.3v10.2h-1.8v-10.2h1.8Zm5.2,10.3c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.3-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.5,.2-1,.2-1.6,.2Zm7.1,.1c-.5,0-.9-.1-1.3-.3s-.7-.4-.9-.8c-.2-.3-.3-.8-.3-1.3,0-.4,.1-.8,.2-1.1,.2-.3,.4-.5,.7-.7s.6-.3,.9-.4c.3-.1,.7-.2,1.1-.2s.8-.1,1.1-.1,.5-.1,.6-.2,.2-.2,.2-.4h0c0-.4-.1-.7-.3-.9-.2-.2-.5-.3-1-.3-.4,0-.8,.1-1,.3-.3,.2-.4,.4-.5,.7l-1.7-.2c.1-.5,.4-.9,.7-1.2,.3-.3,.7-.6,1.1-.7,.4-.2,.9-.2,1.5-.2,.4,0,.7,0,1.1,.1,.4,.1,.7,.2,1,.4,.3,.2,.5,.5,.7,.8s.3,.8,.3,1.3v5.1h-1.9v-1h0c-.1,.2-.3,.4-.5,.6s-.4,.3-.7,.4c-.3,.2-.7,.3-1.1,.3Zm.5-1.4c.4,0,.7-.1,.9-.2,.3-.1,.5-.3,.6-.6,.1-.2,.2-.5,.2-.8v-.9c-.1,0-.2,.1-.3,.1s-.3,.1-.4,.1c-.2,0-.3,.1-.5,.1s-.3,0-.4,.1c-.3,0-.5,.1-.7,.2s-.4,.2-.5,.3c-.1,.1-.2,.3-.2,.6s.1,.6,.4,.8,.5,.2,.9,.2Zm11.4-4.4l-1.6,.2c0-.2-.1-.3-.2-.5-.1-.1-.3-.3-.5-.4s-.4-.1-.7-.1c-.4,0-.7,.1-.9,.2-.3,.2-.4,.4-.4,.6s.1,.4,.2,.5c.2,.1,.4,.3,.8,.3l1.3,.3c.7,.2,1.3,.4,1.6,.7,.4,.3,.5,.8,.5,1.3s-.1,.9-.4,1.3c-.3,.4-.7,.6-1.1,.9-.5,.2-1.1,.3-1.7,.3-.9,0-1.7-.2-2.3-.6s-.9-.9-1-1.6l1.8-.2c.1,.3,.2,.6,.5,.8,.3,.2,.6,.3,1,.3s.8-.1,1-.3c.3-.2,.4-.4,.4-.7,0-.2-.1-.4-.3-.5s-.4-.3-.8-.3l-1.3-.3c-.7-.2-1.3-.4-1.6-.8-.4-.4-.5-.8-.5-1.4,0-.5,.1-.9,.4-1.2,.3-.3,.6-.6,1.1-.8,.5-.2,1-.3,1.6-.3,.9,0,1.6,.2,2.1,.6,.6,.5,.9,1,1,1.7Zm5,5.7c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.3-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.4,.2-1,.2-1.6,.2Z"
        />
        <path
          class="f"
          d="M902.1,289.3h-1.9c-.1-.3-.2-.6-.3-.8-.1-.2-.3-.4-.5-.6s-.5-.3-.7-.4c-.3-.1-.6-.1-.9-.1-.6,0-1,.1-1.5,.4-.4,.3-.8,.7-1,1.2s-.4,1.2-.4,1.9c0,.8,.1,1.4,.4,2,.2,.5,.6,.9,1,1.2,.4,.3,.9,.4,1.5,.4,.3,0,.6,0,.9-.1,.3-.1,.5-.2,.7-.4,.2-.2,.4-.4,.5-.6s.3-.5,.3-.8h1.9c-.1,.5-.2,.9-.5,1.4-.2,.4-.5,.8-.9,1.1-.4,.3-.8,.6-1.3,.8-.5,.2-1,.3-1.7,.3-.9,0-1.7-.2-2.4-.6s-1.3-1-1.7-1.8-.6-1.7-.6-2.8,.2-2,.6-2.8c.4-.8,1-1.4,1.7-1.8s1.5-.6,2.4-.6c.6,0,1.1,.1,1.6,.2s.9,.4,1.3,.7c.4,.3,.7,.7,.9,1.1,.4,.4,.6,.9,.6,1.5Zm5,6.8c-.7,0-1.4-.2-1.9-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5s1.4,.2,1.9,.5,1,.8,1.3,1.4,.5,1.3,.5,2.1-.2,1.5-.5,2.1-.7,1-1.3,1.4c-.5,.4-1.2,.5-1.9,.5Zm0-1.4c.4,0,.7-.1,1-.3,.3-.2,.5-.5,.6-.9s.2-.8,.2-1.3-.1-.9-.2-1.3c-.1-.4-.3-.7-.6-.9-.3-.2-.6-.3-1-.3s-.8,.1-1,.3c-.3,.2-.5,.5-.6,.9s-.2,.8-.2,1.3,.1,.9,.2,1.3c.1,.4,.3,.7,.6,.9,.2,.2,.6,.3,1,.3Zm7-3.2v4.5h-1.8v-7.6h1.7v1.3h.1c.2-.4,.5-.8,.8-1,.4-.3,.9-.4,1.4-.4s1,.1,1.4,.3c.4,.2,.7,.6,.9,1s.3,.9,.3,1.6v4.9h-1.8v-4.6c0-.5-.1-.9-.4-1.2-.3-.3-.6-.4-1.1-.4-.3,0-.6,.1-.8,.2s-.4,.3-.6,.6c-.1,.1-.1,.5-.1,.8Zm10.6-3.1v1.4h-4.5v-1.4h4.5Zm-3.4,7.6v-8.4c0-.5,.1-.9,.3-1.3,.2-.3,.5-.6,.9-.8,.4-.2,.8-.3,1.2-.3,.3,0,.6,0,.8,.1,.2,0,.4,.1,.5,.1l-.4,1.4c-.1,0-.2,0-.3-.1h-.4c-.3,0-.6,.1-.7,.2-.1,.2-.2,.4-.2,.7v8.2h-1.7v.2Zm4.8,0v-7.6h1.8v7.6h-1.8Zm.9-8.7c-.3,0-.5-.1-.7-.3-.2-.2-.3-.4-.3-.7s.1-.5,.3-.7,.5-.3,.7-.3c.3,0,.5,.1,.7,.3,.2,.2,.3,.4,.3,.7s-.1,.5-.3,.7-.4,.3-.7,.3Zm6,11.7c-.6,0-1.2-.1-1.7-.3-.5-.2-.8-.4-1.1-.7-.3-.3-.5-.6-.6-1l1.6-.4c.1,.1,.2,.3,.3,.4s.3,.3,.6,.4c.2,.1,.5,.2,.9,.2,.5,0,.9-.1,1.3-.4,.3-.2,.5-.6,.5-1.2v-1.4h-.1c-.1,.2-.2,.4-.4,.6s-.4,.4-.7,.5-.7,.2-1.1,.2c-.6,0-1.1-.1-1.6-.4s-.9-.7-1.1-1.2c-.3-.6-.4-1.2-.4-2.1,0-.8,.1-1.5,.4-2.1,.3-.6,.7-1,1.1-1.3,.5-.3,1-.5,1.6-.5,.4,0,.8,.1,1.1,.2s.5,.3,.7,.5,.3,.4,.4,.6h.1v-1.3h1.8v7.8c0,.7-.2,1.2-.5,1.6s-.7,.7-1.3,1c-.5,.2-1.1,.3-1.8,.3Zm0-4.5c.4,0,.7-.1,1-.3,.3-.2,.5-.5,.6-.8s.2-.8,.2-1.3-.1-.9-.2-1.3c-.1-.4-.3-.6-.6-.8-.3-.2-.6-.3-1-.3s-.7,.1-1,.3c-.3,.2-.5,.5-.6,.9s-.2,.8-.2,1.2c0,.5,.1,.9,.2,1.2,.1,.3,.3,.6,.6,.8,.3,.3,.7,.4,1,.4Zm10.3-1.7v-4.4h1.8v7.6h-1.7v-1.4h-.1c-.2,.4-.5,.8-.9,1-.4,.3-.9,.4-1.4,.4s-.9-.1-1.3-.3-.7-.6-.9-1-.3-1-.3-1.6v-4.9h1.8v4.6c0,.5,.1,.9,.4,1.2,.3,.3,.6,.4,1,.4,.3,0,.5-.1,.8-.2,.2-.1,.5-.3,.6-.6,.1-.1,.2-.4,.2-.8Zm3.7,3.2v-7.6h1.7v1.3h.1c.1-.4,.4-.8,.7-1s.7-.4,1.2-.4h.6v1.7c-.1,0-.2,0-.4-.1h-.5c-.3,0-.6,.1-.9,.2-.3,.1-.5,.3-.6,.6-.1,.2-.2,.5-.2,.9v4.5h-1.7v-.1Zm8.6,.1c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.3-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.5,.2-1,.2-1.6,.2Z"
        />
        <path
          class="f"
          d="M664.2,504.8h2.3l3,7.4h.1l3-7.4h2.3v10.2h-1.8v-7h-.1l-2.8,7h-1.3l-2.8-7h-.1v7h-1.8v-10.2h0Zm15.9,10.3c-.7,0-1.4-.2-1.9-.5s-1-.8-1.3-1.4c-.3-.6-.4-1.3-.4-2.1s.2-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5s1.4,.2,1.9,.5,1,.8,1.3,1.4,.5,1.3,.5,2.1-.2,1.5-.5,2.1-.7,1-1.3,1.4c-.5,.4-1.2,.5-1.9,.5Zm0-1.4c.4,0,.7-.1,1-.3s.5-.5,.6-.9,.2-.8,.2-1.3-.1-.9-.2-1.3c-.1-.4-.3-.7-.6-.9-.3-.2-.6-.3-1-.3s-.8,.1-1,.3c-.3,.2-.5,.5-.6,.9s-.2,.8-.2,1.3,.1,.9,.2,1.3c.1,.4,.3,.7,.6,.9,.2,.2,.6,.3,1,.3Zm7-3.2v4.5h-1.8v-7.6h1.7v1.3h.1c.2-.4,.5-.8,.8-1,.4-.3,.9-.4,1.4-.4s1,.1,1.4,.3c.4,.2,.7,.6,.9,1s.3,.9,.3,1.6v4.9h-1.8v-4.6c0-.5-.1-.9-.4-1.2-.3-.3-.6-.4-1.1-.4-.3,0-.6,.1-.8,.2s-.4,.3-.6,.6c0,.1-.1,.5-.1,.8Zm6.7,4.5v-7.6h1.8v7.6h-1.8Zm.9-8.7c-.3,0-.5-.1-.7-.3-.2-.2-.3-.4-.3-.7s.1-.5,.3-.7,.5-.3,.7-.3c.3,0,.5,.1,.7,.3,.2,.2,.3,.4,.3,.7s-.1,.5-.3,.7c-.1,.2-.4,.3-.7,.3Zm6.6,1.1v1.4h-4.4v-1.4h4.4Zm-3.3-1.9h1.8v7.2c0,.2,0,.4,.1,.6l.3,.3c.1,0,.3,.1,.4,.1h.5l.3,1.4c-.1,0-.2,.1-.4,.1s-.4,.1-.6,.1c-.5,0-.9-.1-1.2-.2-.4-.2-.6-.4-.9-.7-.2-.3-.3-.7-.3-1.2v-7.7h0Zm8,9.6c-.7,0-1.4-.2-1.9-.5s-1-.8-1.3-1.4c-.3-.6-.4-1.3-.4-2.1s.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5s1.4,.2,1.9,.5,1,.8,1.3,1.4,.5,1.3,.5,2.1-.2,1.5-.5,2.1-.7,1-1.3,1.4-1.1,.5-1.9,.5Zm0-1.4c.4,0,.7-.1,1-.3s.5-.5,.6-.9,.2-.8,.2-1.3-.1-.9-.2-1.3c-.1-.4-.3-.7-.6-.9-.3-.2-.6-.3-1-.3s-.8,.1-1,.3c-.3,.2-.5,.5-.6,.9s-.2,.8-.2,1.3,.1,.9,.2,1.3c.1,.4,.3,.7,.6,.9,.3,.2,.6,.3,1,.3Zm5.2,1.3v-7.6h1.7v1.3h.1c.1-.4,.4-.8,.7-1s.7-.4,1.2-.4h.6v1.7c-.1,0-.2,0-.4-.1h-.5c-.3,0-.6,.1-.9,.2-.3,.1-.5,.3-.6,.6-.1,.2-.2,.5-.2,.9v4.5h-1.7v-.1Z"
        />
        <path
          class="f"
          d="M926.2,489v-10.2h3.8c.8,0,1.4,.1,2,.4,.5,.3,.9,.7,1.2,1.2s.4,1.1,.4,1.7c0,.7-.1,1.2-.4,1.7-.3,.5-.7,.9-1.2,1.2-.5,.3-1.2,.4-2,.4h-2.5v-1.4h2.3c.5,0,.8-.1,1.1-.2,.3-.2,.5-.4,.6-.7,.1-.3,.2-.6,.2-1s-.1-.7-.2-1c-.1-.3-.4-.5-.7-.6-.3-.2-.7-.2-1.1-.2h-1.7v8.6h-1.8v.1Zm8.9,0v-7.6h1.7v1.3h.1c.1-.4,.4-.8,.7-1s.7-.4,1.2-.4h.6v1.7c-.1,0-.2,0-.4-.1h-.5c-.3,0-.6,.1-.9,.2-.3,.1-.5,.3-.6,.6-.1,.2-.2,.5-.2,.9v4.5h-1.7v-.1Zm8.6,.1c-.7,0-1.4-.2-1.9-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5s1.4,.2,1.9,.5,1,.8,1.3,1.4,.5,1.3,.5,2.1-.2,1.5-.5,2.1-.7,1-1.3,1.4c-.6,.4-1.2,.5-1.9,.5Zm0-1.4c.4,0,.7-.1,1-.3,.3-.2,.5-.5,.6-.9s.2-.8,.2-1.3-.1-.9-.2-1.3c-.1-.4-.3-.7-.6-.9-.3-.2-.6-.3-1-.3s-.8,.1-1,.3c-.3,.2-.5,.5-.6,.9s-.2,.8-.2,1.3,.1,.9,.2,1.3c.1,.4,.3,.7,.6,.9,.2,.2,.5,.3,1,.3Zm9-6.3v1.4h-4.4v-1.4h4.4Zm-3.4-1.9h1.8v7.2c0,.2,0,.4,.1,.6l.3,.3c.1,0,.3,.1,.4,.1h.5l.3,1.4c-.1,0-.2,.1-.4,.1s-.4,.1-.6,.1c-.5,0-.9-.1-1.2-.2-.4-.2-.6-.4-.9-.7-.2-.3-.3-.7-.3-1.2v-7.7h0Zm8.2,9.6c-.8,0-1.4-.2-2-.5s-1-.8-1.3-1.4-.4-1.3-.4-2.1,.1-1.5,.4-2.1c.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.5,0,.9,.1,1.3,.2,.4,.1,.8,.4,1.1,.7,.3,.3,.6,.7,.8,1.2s.3,1.1,.3,1.7v.6h-6.3v-1.2h4.5c0-.3-.1-.7-.2-.9-.1-.3-.3-.5-.6-.6-.3-.2-.6-.2-.9-.2-.4,0-.7,.1-1,.3-.3,.2-.5,.4-.7,.7-.2,.3-.2,.6-.2,.9v1.1c0,.4,.1,.8,.2,1.1,.2,.3,.4,.6,.7,.7,.3,.2,.6,.2,1,.2,.3,0,.5,0,.7-.1l.6-.3c.2-.1,.3-.3,.4-.5l1.7,.2c-.1,.4-.3,.8-.6,1.2-.3,.3-.7,.6-1.1,.8-.5,.2-1.1,.2-1.6,.2Zm8.2,0c-.8,0-1.4-.2-2-.5-.5-.3-1-.8-1.3-1.4s-.4-1.3-.4-2c0-.8,.1-1.5,.4-2.1,.3-.6,.7-1.1,1.3-1.4,.5-.3,1.2-.5,1.9-.5,.6,0,1.2,.1,1.6,.3,.5,.2,.9,.5,1.1,1,.3,.4,.4,.9,.5,1.4h-1.7c-.1-.4-.2-.7-.5-.9-.3-.2-.6-.4-1-.4s-.7,.1-1,.3c-.3,.2-.5,.5-.7,.8-.2,.4-.2,.8-.2,1.3s.1,1,.2,1.3c.2,.4,.4,.7,.6,.9,.3,.2,.6,.3,1,.3,.3,0,.5-.1,.7-.2s.4-.2,.5-.4c.1-.2,.2-.4,.3-.7h1.7c0,.5-.2,1-.5,1.4s-.7,.7-1.1,1c-.2,.4-.8,.5-1.4,.5Zm8.6-7.7v1.4h-4.4v-1.4h4.4Zm-3.3-1.9h1.8v7.2c0,.2,0,.4,.1,.6l.3,.3c.1,0,.3,.1,.4,.1h.5l.3,1.4c-.1,0-.2,.1-.4,.1s-.4,.1-.6,.1c-.5,0-.9-.1-1.2-.2-.4-.2-.6-.4-.9-.7-.2-.3-.3-.7-.3-1.2v-7.7h0Z"
        />
        <path
          class="f"
          d="M374.4,296v-10.2h3.8c.8,0,1.4,.1,2,.4,.5,.3,.9,.7,1.2,1.2,.3,.5,.4,1.1,.4,1.7,0,.7-.1,1.2-.4,1.7s-.7,.9-1.2,1.2c-.5,.3-1.2,.4-2,.4h-2.5v-1.4h2.3c.5,0,.8-.1,1.1-.2,.3-.2,.5-.4,.6-.7,.1-.3,.2-.6,.2-1s-.1-.7-.2-1-.4-.5-.7-.6c-.3-.2-.7-.2-1.1-.2h-1.7v8.6h-1.8v.1Zm10.7-10.2v10.2h-1.8v-10.2h1.8Zm4.1,10.4c-.5,0-.9-.1-1.3-.3-.4-.2-.7-.4-.9-.8-.2-.3-.3-.8-.3-1.3,0-.4,.1-.8,.2-1.1,.2-.3,.4-.5,.7-.7,.3-.2,.6-.3,.9-.4s.7-.2,1.1-.2,.8-.1,1.1-.1,.5-.1,.6-.2,.2-.2,.2-.4h0c0-.4-.1-.7-.3-.9s-.5-.3-1-.3c-.4,0-.8,.1-1,.3-.3,.2-.4,.4-.5,.7l-1.7-.2c.1-.5,.4-.9,.7-1.2s.7-.6,1.1-.7c.4-.2,.9-.2,1.5-.2,.4,0,.7,0,1.1,.1s.7,.2,1,.4c.3,.2,.5,.5,.7,.8s.3,.8,.3,1.3v5.1h-1.7v-1h-.1c-.1,.2-.3,.4-.5,.6s-.4,.3-.7,.4c-.5,.2-.8,.3-1.2,.3Zm.4-1.4c.4,0,.7-.1,.9-.2,.3-.1,.5-.3,.6-.6,.1-.2,.2-.5,.2-.8v-.9c-.1,0-.2,.1-.3,.1s-.3,.1-.4,.1c-.2,0-.3,.1-.5,.1s-.3,0-.4,.1c-.3,0-.5,.1-.7,.2s-.4,.2-.5,.3c-.1,.1-.2,.3-.2,.6s.1,.6,.4,.8,.6,.2,.9,.2Zm7.2-3.3v4.5h-1.8v-7.6h1.7v1.3h.1c.2-.4,.5-.8,.8-1,.4-.3,.9-.4,1.4-.4s1,.1,1.4,.3c.4,.2,.7,.6,.9,1,.2,.4,.3,.9,.3,1.6v4.9h-1.8v-4.6c0-.5-.1-.9-.4-1.2-.3-.3-.6-.4-1.1-.4-.3,0-.6,.1-.8,.2-.2,.1-.4,.3-.6,.6,0,.1-.1,.5-.1,.8Z"
        />
      </g>
    </g>
    <g id="devOps-tanuki" :class="`opacity-0 ${stages['stage-5']}`">
      <path
        class="c outline-loop"
        d="M988.9,274.2c-34.8-45.7-86.6-75.9-144-83.9-57.3-8-115.5,6.9-161.8,41.4h0l-140,104.8-139.8-104.8c-32.3-24-70.6-38.7-110.8-42.5-40.2-3.8-80.7,3.6-116.9,21.2-36.2,17.6-66.8,44.8-88.4,78.6-21.5,33.8-33.2,72.8-33.6,112.7-.4,39.9,10.3,79.2,31.1,113.4,20.8,34.2,50.7,62.1,86.6,80.5,35.8,18.4,76.1,26.6,116.4,23.7,40.3-2.9,79-16.8,111.7-40.1l1-.8c2.1-1.5,4.2-3.1,6.3-4.6l136.5-102.2,136.3,102.4c2.1,1.6,4.2,3.1,6.3,4.6l1,.8c42.4,30.1,94.3,44.3,146.3,39.8s100.7-27.2,137.2-64.1c36.5-36.9,58.5-85.5,61.8-137.1s-12-102.5-43.4-143.8h.2ZM337.5,490.4l-1.2,1c-16.3,11.9-35.7,19-55.9,20.6-20.2,1.6-40.4-2.4-58.5-11.5s-33.2-23-43.7-40.1-16-36.8-15.9-56.8,5.9-39.6,16.6-56.6c10.8-17,26.1-30.7,44.2-39.6,18.2-8.9,38.5-12.6,58.6-10.7,20.2,1.9,39.4,9.3,55.6,21.3h0l115.3,86.3-115.1,86.1Zm585.2-71.2c-2.6,18.5-10.1,36-21.6,50.8s-26.7,26.4-44.1,33.7c-17.4,7.3-36.4,9.9-55.2,7.8-18.8-2.2-36.6-9.1-51.9-20.1l-1.2-1-115.2-86.2,115.2-86.2c17.3-12.9,38-20.4,59.6-21.6s43,3.9,61.7,14.8c18.6,10.8,33.6,26.9,43,46.2,9.3,19.1,12.7,40.7,9.7,61.8h0Z"
      />
      <g class="tanuki">
        <path
          class="n"
          d="M543.3,334.7l91.1,68.8-91.1,68.7-91.2-68.7,91.2-68.8Zm-87.8,68.8l87.9,66.2,87.8-66.2-87.8-66.3-87.9,66.3Z"
        />
        <path
          class="n"
          d="M776.8,184.2l.7,1.7h0c9.5,24.8,10.7,52.1,3.4,77.7-7.3,25.6-22.8,48.1-44,64.1l-.3,.2-101.1,75.6-80,60.5c-3.5,2.7-12.3,8-12.3,8,0,0-8.8-5.3-12.3-8l-80-60.5-101.1-75.7-.2-.2c-21.2-16-36.7-38.5-44-64-7.3-25.6-6.2-52.8,3.3-77.6l.7-1.7L375.6,12.2c1.3-3.4,3.7-6.3,6.8-8.2,3.1-1.9,6.7-2.9,10.3-2.7,3.6,.2,7.1,1.5,10,3.8,2.8,2.3,4.9,5.4,5.8,8.9l44.6,136.3h180.3L677.9,14c.9-3.5,3-6.7,5.8-9,2.8-2.3,6.3-3.6,10-3.8,3.6-.2,7.3,.7,10.3,2.7,3.1,1.9,5.5,4.8,6.8,8.2l66,172.1ZM708.9,12.7q0-.1,0,0c-1.2-3-3.3-5.5-6-7.2h0c-2.7-1.7-5.9-2.6-9.1-2.4h0c-3.2,.2-6.3,1.3-8.8,3.4-2.5,2-4.3,4.8-5.2,7.9v.1l-44.9,137.8h-183.2L406.6,14.4h0c-.8-3.1-2.6-5.9-5.2-7.9-2.5-2-5.6-3.2-8.9-3.3-3.2-.2-6.4,.7-9.2,2.4-2.7,1.7-4.8,4.2-6,7.2h0l-66,172.1-.7,1.7h0c-9.3,24.4-10.5,51.2-3.3,76.4,7.2,25.1,22.4,47.2,43.3,63l.2,.1,.6,.5h0l100.5,75.3,49.7,37.6,30.2,22.9h0c1.7,1.3,4.7,3.2,7.4,4.9,1.3,.8,2.5,1.6,3.4,2.1,.1,.1,.3,.2,.4,.2,.1-.1,.2-.1,.4-.2,.9-.5,2.1-1.3,3.4-2.1,2.6-1.7,5.7-3.6,7.4-4.9h0l30.2-22.9,49.7-37.6h0l101.1-75.7,.3-.2c20.9-15.8,36-37.9,43.2-63s6-52-3.3-76.4h0m.2,0l-.7-1.7h0L708.9,12.7"
        />
      </g>
    </g>
  </svg>
</template>

<style lang="scss" scoped>
// SVG FORMAT CLASSES
.b {
  isolation: isolate;
  opacity: 0.2;
  stroke: #7759c2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 100px;
}
.b,
.c {
  fill: none;
}
.f {
  fill: #fff;
}
.i {
  fill: #a989f5;
}
.d {
  fill: #e99141;
  stroke: #e99141;
}
.e {
  fill: #e5883f;
  stroke: #e5883f;
}
.g {
  fill: #ec9b43;
  stroke: #ec9b43;
}
.h {
  fill: #d45838;
  stroke: #d45838;
}
.j {
  fill: #d15037;
  stroke: #d15037;
}
.k {
  fill: #da673a;
  stroke: #da673a;
}
.l {
  fill: #e27d3d;
  stroke: #e27d3d;
}
.m {
  fill: #de733c;
  stroke: #de733c;
}
.c {
  stroke: #fff;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}
.n {
  stroke: #e24329;
  fill: #e24329;
  fill-rule: evenodd;
}

// ANIMATION CLASSES
.hidden {
  &.opacity-0 {
    opacity: 0;
  }
  &.offscreen {
    transform: translateY(160vh);
  }

  &.top-left-rotation {
    transform: rotate(-100deg) translateY(160vh) translateX(-50vh);
  }

  &.top-right-rotation {
    transform: rotate(270deg) translateY(-160vh) translateX(160vh);
  }

  &.offscreen,
  &.top-left-rotation,
  &.top-right-rotation {
    transition-delay: 0;
    transition: transform 400ms ease;
  }
}

.top-left-rotation,
.top-right-rotation,
.offscreen {
  transition: transform 1500ms ease;
}

.top-left-rotation {
  transform-origin: 50% 50%;
}

.opacity-0 {
  transition: opacity 500ms linear;
}

.stage-delayed {
  transition-delay: 500ms;
}

.delayed {
  transition-delay: 800ms;
}
</style>
