<script lang="ts">
import Vue from 'vue';
import { init } from 'aos';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import { NextStep } from '../components/common/index';
import {
  Hero,
  ComparisonChart,
  CaseStudies,
  AccoladeCards as Accolades,
  SdlcTable,
  WhyLoop,
  WhyGrowthSection,
  Showcase,
} from '../components/why/index';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Hero,
    SdlcTable,
    WhyGrowthSection,
    ComparisonChart,
    CaseStudies,
    NextStep,
    WhyLoop,
    Accolades,
    Showcase,
  },
  async asyncData({ $content }) {
    const data = await $content('why-gitlab').fetch();
    return {
      data,
    };
  },
  data() {
    return {
      comparisons: 0,
      visibleComparisonIndex: 0,
      nextComparisonIndex: 1,
      observer: null,
    };
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
  beforeMount() {
    init({
      once: true,
    });
  },
  mounted() {
    this.observer = new IntersectionObserver(this.observerTriggered, {
      threshold: 0.1,
    });
    this.observer.observe(this.$refs.afterAnimation);
  },
  beforeDestroy() {
    this.observer.disconnect();
  },
  methods: {
    updateComparison(currentIndex: number, numberOfComparisons: number) {
      const adjustedIndex = currentIndex + 1;

      if (adjustedIndex < numberOfComparisons) {
        this.visibleComparisonIndex += 1;
      } else {
        this.visibleComparisonIndex = 0;
      }

      if (this.nextComparisonIndex + 1 < numberOfComparisons) {
        this.nextComparisonIndex += 1;
      } else if (this.nextComparisonIndex + 1 === numberOfComparisons) {
        this.nextComparisonIndex = 0;
      }
    },
    observerTriggered(entries) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          this.$refs.whyLoop.endLoopAnimation();
        }
      });
    },
  },
});
</script>

<template>
  <div class="why">
    <div class="why__sticky-container">
      <div class="content">
        <Hero :data="data.hero" />
        <WhyLoop ref="whyLoop" :data="data.loop" />
      </div>
      <a
        v-if="data.jump_to"
        class="jump_button"
        :href="data.jump_to"
        data-ga-name="jump-down"
        data-ga-location="why-gitlab-header"
      >
        <SlpTypography tag="span" variant="body3"> Jump down </SlpTypography>
        <SlpIcon variant="product" name="chevron-lg-right" />
      </a>
    </div>
    <div ref="afterAnimation">
      <SdlcTable :data="data.sdlc_table_block" />
      <Showcase :data="data.showcase.data" />
      <WhyGrowthSection :data="data.growth_block" />
      <Accolades :data="data.accolades_block" />
      <ComparisonChart
        :title="data.solution_comparison.title"
        :subtitle="data.solution_comparison.subtitle"
        :link-text="data.solution_comparison.link_text"
        :link-href="data.solution_comparison.link_href"
        :data-ga-name="data.solution_comparison.data_ga_name"
        :data-ga-location="data.solution_comparison.data_ga_location"
        :solutions="data.solution_comparison.solutions"
      />
      <CaseStudies :data="data.case_studies" />
      <NextStep />
    </div>
  </div>
</template>

<style lang="scss" scoped>
.why {
  position: relative;
  padding-bottom: $spacing-24;

  &__sticky-container {
    display: flex;
    flex-direction: row;
    background: $color-primary-200;

    .content {
      width: 100%;
    }

    .jump_button {
      position: sticky;
      top: 50vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 120px;
      width: 57px;
      background-color: $color-surface-50;
      color: $color-primary-200;
      border-radius: $border-radius-4;
      padding: $spacing-32 $spacing-8;
      margin: $spacing-32;

      &:hover {
        background-color: $color-surface-100;
      }

      .slp-icon {
        transform: rotate(90deg);
      }
    }

    @media (max-width: $breakpoint-sm) {
      .jump_button {
        display: none;
      }
    }
  }
}

.solution-comparison {
  background: $color-surface-700;
  padding: $spacing-96 0;
  overflow: hidden;
}
</style>
