<script lang="ts">
import Vue from 'vue';
import SecurityResourcesAccordion from './security-resources-accordion.vue';

export default Vue.extend({
  name: 'SecurityResourcesLinks',
  components: {
    SecurityResourcesAccordion,
  },
  props: {
    data: {
      type: Object,
      required: true,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      columnGroups: [],
      groupData: { visible: false, groups: [] },
    };
  },
  mounted() {
    this.columnGroups = this.data.group_items
      ? this.data.items[0].items
      : this.data.items;
    this.groupData.groups = this.data.items.map(
      (group: any, index: number) => ({
        ...group,
        visible: !index,
        expanded: false,
        items: this.data.group_items
          ? group.items.map((subitems: any) => subitems.items).flat()
          : group.items,
      }),
    );
  },
  methods: {
    getShowAll() {
      return this.groupData.groups.some((item: any) => !item.expanded);
    },
    toggleGroup(newState: boolean): void {
      const accordion = this.groupData as any;
      accordion.groups = accordion.groups.map((question: any) => ({
        ...question,
        expanded: newState,
      }));
    },
    toggleItems(itemIndex: number) {
      const selectedAccordion = this.groupData.groups[itemIndex] as any;
      selectedAccordion.expanded = !selectedAccordion.expanded;
    },
  },
});
</script>

<template>
  <section class="security-resources-links">
    <SlpContainer>
      <SlpRow>
        <SlpColumn :cols="6" size="xl">
          <SlpTypography variant="heading2-bold" tag="div" class="slp-mb-32">
            <span
              :class="{
                'security-resources-links--hide-mobile': data.mobile_title,
              }"
              >{{ data.title }}</span
            >
            <span
              v-if="data.mobile_title"
              :class="{
                'security-resources-links--show-mobile': data.mobile_title,
              }"
              >{{ data.mobile_title }}</span
            >
          </SlpTypography>
        </SlpColumn>
      </SlpRow>
      <div class="security-resources-links__list">
        <SlpHorizontalRule v-if="data.divider" />
        <SlpRow class="security-resources-links__wrapper">
          <SlpColumn
            v-for="group in columnGroups"
            :key="group.title"
            :cols="12 / columnGroups.length"
          >
            <div class="security-resources-links__group">
              <SlpHorizontalRule v-if="!data.divider" />
              <SlpTypography
                variant="heading5-bold"
                tag="div"
                class="slp-mt-16"
              >
                {{ group.header }}
              </SlpTypography>
              <ul>
                <li
                  v-for="item in group.items"
                  :key="item.text"
                  class="slp-my-32"
                >
                  <SlpButton
                    :href="item.link"
                    :data-ga-name="item.data_ga_name"
                    :data-ga-location="item.data_ga_location"
                    variant="tertiary"
                    class="security-resources-links__link"
                  >
                    <SlpTypography variant="body2-bold" tag="div">
                      {{ item.text }}</SlpTypography
                    >
                    <SlpIcon
                      icon="gl-chevron-lg-right"
                      alt="Chevron Right Icon"
                    />
                  </SlpButton>
                </li>
              </ul>
            </div>
          </SlpColumn>
        </SlpRow>
      </div>
      <div class="security-resources-links__accordion">
        <div
          v-if="!data.group_items"
          class="security-resources-links__button-container"
        >
          <button
            v-if="getShowAll(groupData)"
            type="button"
            class="security-resources-links__buttons slp-mb-16"
            :data-toggle-group="data.title"
            @click="toggleGroup(true)"
          >
            <SlpTypography
              variant="body2-bold"
              role="button"
              :aria-label="`Expand all ${data.title} items.`"
            >
              Show All
            </SlpTypography>
          </button>
          <button
            v-else
            class="security-resources-links__buttons slp-mb-16"
            type="button"
            tabindex="0"
            :aria-label="`Close all ${data.title} items.`"
            @click="toggleGroup(false)"
          >
            <SlpTypography variant="body2-bold"> Hide All</SlpTypography>
          </button>
        </div>
        <SlpRow
          v-for="(item, itemIndex) in groupData.groups"
          :key="`${item.header}-${itemIndex}`"
        >
          <SecurityResourcesAccordion
            :data="item"
            :item-index="itemIndex"
            @toggleController="toggleItems(itemIndex)"
          />
        </SlpRow>
      </div>
    </SlpContainer>
  </section>
</template>

<style lang="scss" scoped>
.security-resources-links {
  background: $color-surface-800;
  padding: $spacing-32 0;
  margin: $spacing-32 auto;
  @media (min-width: $breakpoint-md) {
    padding: $spacing-64 0;
    margin: $spacing-96 auto;
  }

  &__wrapper {
    @media (min-width: $breakpoint-md) {
      margin-left: -$spacing-32;
    }
  }

  &__group {
    margin-left: $spacing-32;
  }

  &__link,
  :deep .security-resources-links__link {
    color: $color-text-link-100;
    padding: 0;
    text-align: left;
    &:hover,
    &:active,
    &:focus {
      text-decoration-color: $color-text-link-100;
    }
  }

  :deep .slp-hr {
    border-top: 1px solid $color-primary-100;
  }
  &__accordion {
    display: block;
    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
  &__list {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
  &__button-container {
    display: flex;
    justify-content: flex-end;
  }
  &__buttons {
    color: $color-text-link-100;
    border: 0px transparent solid;
    cursor: pointer;
  }
  &--show-mobile {
    display: block;
    @media (min-width: $breakpoint-md) {
      display: none;
    }
  }
  &--hide-mobile {
    display: none;
    @media (min-width: $breakpoint-md) {
      display: block;
    }
  }
}
</style>
